body {
  background-color: lightgrey;
}


.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}



/* slider */

.input-radio {
  display: none;
}

.slider-container {
  padding-bottom: 2vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
}

.slider-container-element {
  flex: 1 0 50%;
  text-align: center;
}

.slider-img-container {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;
  flex: 0 1 100%;
}

.slider-img {
  flex-basis: 100%;
  flex-shrink: 0;
  margin-bottom: 3vh;
}

.slider-img img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  transition-duration: 2s;
}

.slider-text-wrapper {
  overflow: hidden;
}

.slider-text-container {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;
  text-align: left;
}


.slider-text {
  font-size: 26px;
  flex-basis: 100%;
  flex-shrink: 0;
  pointer-events: none;
}


.slider-controls {
  display: flex;
  justify-content: flex-end;
  
}


.slider-controls label {
  display: inline-block;
  padding: 4%;
  cursor: pointer;
  vertical-align: middle;
}

.slider-controls label:after {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}


.slider-controls label:hover::after {
  background-color: rgba(248, 247, 244, .4);
}

.slider-controls label:active::after {
  background-color: rgba(148, 147, 144, .4);
}


#btn-1:checked ~ .slider-container .slider-img-container { left: 0;}
#btn-2:checked ~ .slider-container .slider-img-container { left: -100%;}
#btn-3:checked ~ .slider-container .slider-img-container { left: -200%;}
#btn-4:checked ~ .slider-container .slider-img-container { left: -300%;}
#btn-5:checked ~ .slider-container .slider-img-container { left: -400%;}

#btn-1:checked ~ .slider-container .slider-text-container { left: 0;}
#btn-2:checked ~ .slider-container .slider-text-container { left: -100%;}
#btn-3:checked ~ .slider-container .slider-text-container { left: -200%;}
#btn-4:checked ~ .slider-container .slider-text-container { left: -300%;}
#btn-5:checked ~ .slider-container .slider-text-container { left: -400%;}

#btn-1:checked ~ .slider-container label[for='btn-1']::after,
#btn-2:checked ~ .slider-container label[for='btn-2']::after,
#btn-3:checked ~ .slider-container label[for='btn-3']::after,
#btn-4:checked ~ .slider-container label[for='btn-4']::after,
#btn-5:checked ~ .slider-container label[for='btn-5']::after {
  background-color: #fff;
}

@media (max-width: 900px) {


  .slider-container-element {
    flex: 0 1 100%;
  }

  .slider-controls {
    justify-content: center;
    margin-bottom: 1vh;
  }

  .slider-controls label:after {
    width: 10px;
    height: 10px;
  }

  .slider-text {
    font-size: 20px;
  }

  .slider-text-wrapper {
    order: 1;
    margin-bottom: 2vh;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
}


}
  
